// @import "../../../styles/mixins.module";
@use "../../../styles/mixins.module" as mixins;

.heroSectionWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // -webkit-mask-image: linear-gradient(
  //   to top,
  //   rgba(245, 245, 243, 0) 0%,
  //   rgba(245, 245, 243, 0.2) 10%,
  //   rgba(245, 245, 243, 0.6) 20%,
  //   rgba(245, 245, 243, 1) 30%
  // );
  // mask-image: linear-gradient(
  //   to top,
  //   rgba(245, 245, 243, 0) 0%,
  //   rgba(245, 245, 243, 0.2) 10%,
  //   rgba(245, 245, 243, 0.6) 20%,
  //   rgba(245, 245, 243, 1) 30%
  // );

  .headerDiv {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: auto;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .name_text {
      font-family: "SharpGroteskSemiBold25";
      font-size: 3vw;
      font-weight: 800;
      color: #ab9ef6;
      z-index: 4;

      &__prefix {
        color: #373b44;
        font-size: 1.8vw;
      }
      &__suffix {
        color: #979ba2;
        font-size: 1.8vw;
      }

      @include mixins.small-device {
        font-size: 8vw;

        &__prefix {
          font-size: 5vw;
        }
        &__suffix {
          font-size: 5vw;
        }
      }
    }

    @include mixins.small-device {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  .innerContainer {
    position: relative;
    width: 90%;
    height: 80%;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid salmon;
    z-index: 1;

    @include mixins.small-device {
      width: 100%;
      height: 80%;
      // border: 1px solid green;
    }

    .titleContainer {
      position: absolute;
      width: 80%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // border: 1px solid red;
      line-height: 1;
      white-space: nowrap;
      left: 0;
      right: 0;
      bottom: 20%;
      margin: 0 auto;

      @include mixins.small-device {
        width: 92%;
        height: 80px;
        // border: 1px solid red;
        bottom: 30%;
      }

      &__main {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        .mainTitleText {
          font-family: "SharpGroteskSemiBold25";

          &__top {
            color: transparent;
            -webkit-text-stroke: 1px #fbfbfb;
            text-stroke: 1px #fbfbfb;
          }
          &__bottom {
            color: #373b44;
          }
        }
      }

      &__sub {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        .subTitleText {
          font-family: "SharpGroteskSemiBold25";

          &__top {
            color: transparent;
            -webkit-text-stroke: 1px #fbfbfb;
            text-stroke: 1px #fbfbfb;
          }
          &__bottom {
            color: #373b44;
          }
        }
      }

      &__top {
        z-index: 3;
        // border: 1px solid green;
      }

      &__bottom {
        z-index: 1;
        // border: 1px solid blue;
      }
    }
  }
}

.socialLinksContainer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;

  .linkContainer {
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    &__linkTextDiv {
      position: relative;
      height: 100%;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;
      p {
        position: relative;
        font-family: "SharpGroteskMedium25";
        color: #888c94;
        // color: #373b44;
        margin: 0;
      }
    }

    &__linkIconDiv {
      height: 100%;
      aspect-ratio: 1/2;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;

      .linkIcon {
        color: #a99ef0;
        font-size: 1rem;
      }
    }
  }

  .linkContainer__linkTextDiv p::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 1px;
    background-color: #888c94;
    transition: width 0.3s ease-in-out;
    z-index: 999;
  }

  .linkContainer:hover .linkContainer__linkTextDiv p::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .socialLinksContainer {
    width: 100%;
    justify-content: center;
  }
}

.name_text,
.title_text {
  will-change: transform, opacity;
}
