// @import "../../../styles/mixins.module";
@use "../../../styles/mixins.module" as mixins;

.heroSectionWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #EBECEE ;
  // border: 1px solid red;

  -webkit-mask-image: linear-gradient(
    to top,
    rgba(245, 245, 243, 0) 0%,
    rgba(245, 245, 243, 0.2) 10%,
    rgba(245, 245, 243, 0.6) 20%,
    rgba(245, 245, 243, 1) 30%
  );
  mask-image: linear-gradient(
    to top,
    rgba(245, 245, 243, 0) 0%,
    rgba(245, 245, 243, 0.2) 10%,
    rgba(245, 245, 243, 0.6) 20%,
    rgba(245, 245, 243, 1) 30%
  );

  .headerDiv {
    position: relative;
    width: 90%;
    height: 80px;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .name_text {
      font-family: "SharpGroteskSemiBold25";
      font-size: 3vw;
      font-weight: 800;
      color: #fbfbfb;
      z-index: 4;

      &__prefix {
        color: #ab9ef6;
        font-size: 1.8vw;
      }
      &__suffix {
        color: #212121;
        font-size: 1.8vw;
      }
      @include mixins.small-device {
        font-size: 8vw;

        &__prefix {
          color: #ab9ef6;
          font-size: 5vw;
        }
        &__suffix {
          color: #212121;
          font-size: 5vw;
        }
      }
    }
  }

  .innerContainer {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid salmon;

    @include mixins.small-device {
      width: 100%;
      // border: 1px solid green;
      align-items: flex-start;
    }

    .title_text {
      position: absolute;
      font-family: "SharpGroteskSemiBold25";
      font-size: 6vw;
      font-weight: 800;
      line-height: 1;
      white-space: nowrap;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include mixins.small-device {
        font-size: 8.2vw;
        // bottom: 40%;
        top: 10%;
      }
      &__top {
        z-index: 1;
        color: #fbfbfb;
        @include mixins.small-device {
          color: transparent;
          -webkit-text-stroke: 1px #fbfbfb;
          text-stroke: 1px #fbfbfb;
        }
      }
      &__bottom {
        z-index: 3;
        color: transparent;
        -webkit-text-stroke: 1px #fbfbfb;
        text-stroke: 1px #fbfbfb;
        @include mixins.small-device {
          color: transparent;
          -webkit-text-stroke: 1px #fbfbfb;
          text-stroke: 1px #fbfbfb;
        }
      }
      .title_sub {
        font-family: "SharpGroteskSemiBold25";
        display: block;
        font-size: 4vw;
        span {
          color: #ab9ef6;
          -webkit-text-stroke: 2px #fbfbfb00;
          text-stroke: 2px #fbfbfb00;
        }
        @include mixins.small-device {
          font-size: 6.2vw;
          bottom: 60%;
        }
      }
    }
  }
}

.name_text,
.title_text {
  will-change: transform, opacity;
}
