// @import "../../../styles/mixins.module";
@use "../../../styles/mixins.module" as mixins;

.sectionWrapper {
  width: 100%;
  height: auto;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  // border: 1px solid white;
  .innerWrapper {
    width: calc(100% - 200px);
    height: 90%;
    // border: 1px solid red;
    @include mixins.small-device {
      width: 95%;
    }
  }
}

.sectionHeadingContainer {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  // border: 1px solid salmon;
  justify-content: flex-end;

  .headingDiv {
    width: auto;
    height: 100%;
    // border: 1px solid orange;
    position: relative;
    display: flex;
    align-items: center;

    .circle {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background-color: white;
      background-color: #a99ef0;
      position: absolute;
      transform: translate(-40%, 0%);
      z-index: 1;
    }

    p {
      font-family: "SharpGroteskBook25";
      font-size: 2rem;
      margin-right: 15px;
      z-index: 2;
      color: #1b1c1e;
      color: #fbfbfb;
      position: relative;
    }
  }
}

.contentWrapper {
  width: 100%;
  height: calc(100% - 100px);
  // border: 1px solid white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.projectsGrid {
  width: 90%;
  height: auto;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, 50vh);
  border: 1px solid rgb(53, 57, 59);
  grid-template-areas:
    "project1 project2"
    "project3 project4"
    "project5 project6";
  position: relative;

  @include mixins.small-device {
    width: 100%;
    grid-template-columns: 100%;
    // grid-template-rows: repeat(5, 40vh);
    grid-template-rows: 40vh 40vh 40vh 40vh 40vh 80px;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4"
      "project5"
      "project6";
  }
}

.projectContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.projectsGrid > .projectContainer:nth-child(2n) {
  border-right: 1px solid rgb(53, 57, 59);
}

.projectsGrid > .projectContainer:not(:nth-last-child(-n + 2)) {
  border-bottom: 1px solid rgb(53, 57, 59);
}

.projectCard {
  width: 90%;
  height: 90%;
  border: 4px solid rgb(53, 57, 59);
  border: 1px solid rgb(53, 57, 59);
  border-radius: inherit;
  // border-radius: 10px;
  position: relative;
  background-color: #212121;

  .descContainer {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
    p {
      font-family: "SharpGroteskBook20";
      font-size: 0.8rem;
      color: white;
      width: 90%;
      line-height: 1.8;
      display: -webkit-box;
      -webkit-line-clamp: 5; /* Limits to exactly 6 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .footerContainer {
    width: 100%;
    height: 30%;
    padding: 5px 20px;
    // border-top: 1px solid rgb(53, 57, 59);

    .projectTitleDiv {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      p {
        font-family: "SharpGroteskBook25";
        font-size: 1.2rem;
        color: white;
      }
    }
    .projectLinkDiv {
      width: 100%;
      height: 50%;
      // border: 1px solid lightgreen;
      display: flex;
      align-items: center;
      p {
        font-family: "SharpGroteskBook25";
        font-size: 0.8rem;
        color: white;
      }
      span {
        width: 12px;
        height: 100%;
        display: flex;
        align-items: center;
        // border: 1px solid red;
        margin-left: 8px;
      }
    }
  }
}

.gitLogoDiv {
  width: 50px;
  height: 50px;
  // border: 1px solid salmon;
  position: absolute;
  right: 8px;
  top: 8px;
}

.allWorksBtn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  // border: 1px solid salmon;
  width: 100px;
  height: 50px;
  border-radius: 0px 0px 8px 0px;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: "SharpGroteskBook25";
    font-size: 0.8rem;
    color: white;
  }
}
