// @import "../../../styles/mixins.module";
@use "../../../styles/mixins.module" as mixins;

:root {
  --text-color: #363b45;
}
.projectSectionWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.projectMainWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 100px 0px 100px;
  @include mixins.small-device {
    padding: 70px 5% 0px 5%;
  }

  .sectionHeadingWrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid white;
  }

  .projectDisplayWrapper {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include mixins.small-device {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.projectImgSection {
  width: 50%;
  height: 100%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  @include mixins.small-device {
    width: 100%;
    height: auto;
  }

  .projectNumContainer {
    width: 100%;
    height: 50px;
    // border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-family: "SharpGroteskMedium20";
      color: var(--text-color);
      font-size: 1rem;
      span {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
  .projectImageContainer {
    position: relative;
    width: 95%;
    aspect-ratio: 137/77;
    max-height: 90%;
    // border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    will-change: transform;
    backface-visibility: hidden;
    // box-shadow: 0px 0.85px 34.05px rgba(0, 0, 0, 0.36);

    @include mixins.small-device {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
  }
}

.projectInfoSection {
  width: 50%;
  height: 100%;
  // border: 1px solid blue;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 50px;
  @include mixins.small-device {
    width: 100%;
    height: 50%;
    padding-top: unset;
  }
}

.projectInfoGrid {
  width: 95%;
  aspect-ratio: 137/77;
  // border: 1px solid black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px minmax(0, 1fr) 60px 45px;
  // grid-template-rows: 100px auto 50px 50px;
  grid-template-areas:
    "projectTitleCell"
    "projectDescCell"
    "projectStackCell"
    "projectLinkBtnCell";

  @include mixins.small-device {
    width: 100%;
    height: 100%;
  }

  .projectTitleCell {
    grid-area: "projectTitleCell";
    width: 100%;
    height: 100%;
    // border: 1px solid salmon;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__titleDiv {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      // border: 1px solid lightgreen;
    }
    &__subTitleDiv {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // border: 1px solid lightgreen;
    }
    .titleText {
      color: var(--text-color);
      &__main {
        font-family: "SharpGroteskSemiBold25";
        font-size: 1.5rem;
        @include mixins.small-device {
          font-size: 1.2rem;
          white-space: nowrap;
        }
      }
      &__sub {
        font-family: "SharpGroteskMedium25";
        font-size: 1rem;
        @include mixins.small-device {
          font-size: 0.9rem;
          white-space: nowrap;
        }
      }
    }
  }

  .projectDescCell {
    grid-area: "projectDescCell";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid green;

    .textFit {
      width: 90%;
      height: 90%;
      // background-color: salmon;
      @include mixins.small-device {
        width: 100%;
      }
    }
    p {
      font-family: "SharpGroteskBook25";
      // font-size: 0.7rem;
      color: var(--text-color);
      line-height: 1.8;

      @include mixins.small-device {
        // font-size: 0.6rem;
      }
    }
  }
  .projectStackCell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    // border: 1px solid red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
      font-family: "SharpGroteskMedium25";
      font-size: 0.7rem;
      color: var(--text-color);
      white-space: nowrap;
      margin-right: 8px;
      margin-bottom: 5px;
      white-space: nowrap;
    }
  }
  .projectLinkBtnCell {
    grid-area: "projectLinkBtnCell";
    width: 100%;
    height: 100%;
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .linkBtnContainer {
      height: 40px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
