// @import "../../../styles/mixins.module";
@use "../../../styles/mixins.module" as mixins;

:root {
  --text-color: #363b45;
}
.projectSectionWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // background-color: #77adf9;
  // background-color: var(--theme-color);
  background-color: #77adf9;
  z-index: 1;

  // margin-bottom: 100px;
  .innerWrapper {
    width: calc(100% - 200px);
    height: auto;
    padding-top: 70px;
    @include mixins.small-device {
      width: 90%;
    }
  }
}

.sectionHeadingContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainWrapper {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  padding: 0% 0%;
  position: relative;
  // background-color: salmon;
  @include mixins.small-device {
    flex-direction: column;
    width: 100%;
  }
}

.left_wrapper {
  width: 55%;
  height: 100%;
  // border: 1px solid orange;

  @include mixins.small-device {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }

  .imageNumWrapper {
    width: 100%;
    height: 40px;
    .numDiv {
      height: 100%;
      aspect-ratio: 1/1;
      // border: 1px solid red;
      position: relative;
      display: flex;
      align-items: center;
      p {
        position: absolute;
        font-family: "SharpGroteskMedium10";
        font-family: "SharpGroteskBook20";
        color: #1b1c1e;
        // color: #fbfbfb;
        color: #363b45;
        color: #24262e;
        color: var(--text-color);
        font-size: 1.2rem;
        span {
          color: white;
          font-size: 1.2rem;
        }

        @include mixins.small-device {
          font-size: 1.2rem;
        }
      }
    }
  }

  .imageDisplayWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 137/77;
    overflow: hidden;
    border-radius: 8px;
    border: 3px solid white;
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 0px 0.85px 34px rgba(0, 0, 0, 0.36);
    .projectImageDiv {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      display: grid;
      place-items: center;
      overflow: hidden;
      backface-visibility: hidden;
      img {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }
  }
}

.right_wrapper {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // border: 1px solid blue;

  @include mixins.small-device {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    height: 100%;
  }

  .descGrid {
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-rows: 50px minmax(0, 1fr) 50px 50px;
    grid-template-columns: 100%;
    grid-template-areas:
      "titleCell"
      "descCell"
      "techStackCell"
      "linkCell";
    // border: 1px solid greenyellow;
    @include mixins.small-device {
      width: 100%;
      height: 90%;
    }
  }

  .titleCell {
    grid-area: titleCell;
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    p {
      position: absolute;
      font-family: "SharpGroteskBook25";
      font-family: "SharpGroteskSemiBold25";
      color: #fbfbfb;
      color: #363b45;
      color: #24262e;
      color: var(--text-color);
      font-size: 2.3rem;
      font-size: 1.5rem;
      // border-bottom: 1px solid rgba(255, 255, 255, 0.18);
      // border: 1px solid red;
      @include mixins.small-device {
        font-size: 1.2rem;
        white-space: nowrap;
      }
    }
  }

  .descCell {
    position: relative;
    grid-area: descCell;
    // border: 1px solid green;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    div {
      width: 100%;
      height: 100%;
      position: absolute;
      font-family: "SharpGroteskBook20";
      color: var(--text-color);
      line-height: 1.7;
      text-align: justify;
      overflow: hidden;
      // border: 1px solid blue;
    }
  }

  .techStackCell {
    position: relative;
    grid-area: techStackCell;
    width: 100%;
    height: 100%;
    // border: 1px solid orange;
    display: flex;
    align-items: center;
    overflow: hidden;

    .techStackRow {
      display: flex;
      align-items: center;
      width: auto;
      height: 80%;
      position: absolute;
      // border-top: 1px solid rgba(255, 255, 255, 0.18);
      // border: 1px solid red;

      span {
        margin-right: 8px;
        font-family: "SharpGroteskBook20";
        font-size: 0.7rem;
        color: #aaacb3;
        color: #e0e5eb;
        color: #363b45;
        color: #24262e;
        // color: white;
        color: var(--text-color);

        text-transform: uppercase;
        letter-spacing: 0.3px;
        white-space: nowrap;

        &::first-letter {
          // color: #a99ef0 !important;
          // color: white !important;
        }
      }
    }
  }
  .linkCell {
    grid-area: linkCell;
    // border: 1px solid skyblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .linkBtnContainer {
      position: absolute;
      height: 40px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
