@use "../../../../styles/mixins.module" as mixins;

.imageWrapper {
  position: absolute;
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  @include mixins.small-device {
    height: 90%;
    aspect-ratio: 1/1;
    bottom: 10%;
  }
  img {
    object-fit: cover;
    height: 90%;
    aspect-ratio: 1/1;
  }
}
