@use "../../../styles/mixins.module" as mixins;
.sectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  .innerWrapper {
    display: none;
    width: calc(100% - 200px);
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    @include mixins.small-device {
      height: 100%;
      width: 85%;
    }
  }
}

.sectionHeadingContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  // border: 1px solid green;
}
.contentWrapper {
  position: relative;
  width: 100%;
  height: calc(80% - 100px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include mixins.small-device {
    height: calc(70% - 100px);
    // border: 1px solid blue;
  }

  .expertiseRow {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;

    &__letter {
      font-family: "SharpGroteskSemiBold25";
      color: #363b45;
    }
  }
}
