@use "../../../styles/mixins.module" as mixins;

.footerSection {
  width: 99.9%;
  height: auto;
  height: 70vh;
  margin: 100px 0px;
  // border: 1px solid orange;
  display: flex;
  justify-content: center;

  &__inner {
    width: calc(100% - 200px);
    height: auto;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;

    @include mixins.small-device {
      width: 95%;
    }
  }
}

.sectionHeadingWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  // border: 1px solid red;

  .heading {
    width: auto;
    height: 100%;
    // border: 1px solid orange;
    position: relative;
    display: flex;
    align-items: center;

    &__circle {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background-color: #a99ef0;
      position: absolute;
      transform: translate(-40%, 0%);
      z-index: 1;
    }

    p {
      font-family: "SharpGroteskBook25";
      font-size: 2rem;
      white-space: nowrap;
      margin-right: 15px;
      z-index: 3;
      color: #1b1c1e;
      color: #fbfbfb;
      position: relative;
      @include mixins.small-device {
        font-size: 1.5rem;
      }
    }
  }
}

.subContentSection {
  width: 100%;
  height: 0px;
  min-height: 180px;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "SharpGroteskSemiBold25";
  margin-top: 30px;

  @include mixins.small-device {
    font-size: 1rem;
  }
  &__upperText {
    color: #4d5360;
  }
  &__lowerText {
    color: #a99ef0;
  }
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // border-top: 1px solid rgb(53, 57, 59);
  // border-bottom: 1px solid rgb(53, 57, 59);
  // border: 1px solid green;

  &__emailContainer {
    width: 100%;
    height: auto;
    // border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px;

    a {
      position: relative;
      font-family: "SharpGroteskSemiBold25";
      font-size: 2rem;
      color: #4d5360;
      @include mixins.small-device {
        font-size: 1.2rem;
      }
      span {
        color: #4d5360;
      }

      &:hover span {
        color: #a99ef0;
      }
    }
    .emailLinkIcon {
      font-size: 1.5rem;
      margin-left: 5px;
      color: #a99ef0;
    }
  }

  .content__emailContainer a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 5%;
    height: 1px;
    background-color: #888c94;
    transition: width 0.3s ease-in-out;
    z-index: 999;
  }

  .content__emailContainer:hover a::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
  }

  &__linksRow {
    display: flex;
    display: none;
    width: 100%;
    height: auto;
    // border: 1px solid lightgreen;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .socialLinkRow {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
    }
  }
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  // border: 1px solid white;

  &:nth-child(1) {
    margin-right: 10px;
  }

  &:nth-child(2) {
    margin-left: 10px;
  }

  &__textDiv {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    font-family: "SharpGroteskSemiBold25";
    color: white;
    font-size: 1.2rem;
    // border: 1px solid white;
  }

  &__iconDiv {
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid white;
    // padding: 0px 8px;

    .linkIcon {
      color: #a99ef0;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
  }
}
