@use "../../../styles/mixins.module" as mixins;

.footerSection {
  width: 99.9%;
  height: auto;
  height: 70vh;
  margin: 100px 0px;
  // border: 1px solid orange;
  display: flex;
  justify-content: center;

  &__inner {
    width: calc(100% - 200px);
    height: auto;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;

    @include mixins.small-device {
      width: 90%;
      // border: 1px solid red;
    }
  }
}

.sectionHeadingWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  // border: 1px solid red;
  @include mixins.small-device {
    justify-content: flex-start;
  }

  .heading {
    width: auto;
    height: 100%;
    // border: 1px solid orange;
    position: relative;
    display: flex;
    align-items: center;

    &__circle {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background-color: #a99ef0;
      position: absolute;
      transform: translate(-40%, 0%);
      z-index: 1;
    }

    p {
      font-family: "SharpGroteskBook25";
      font-size: 2rem;
      white-space: nowrap;
      margin-right: 15px;
      z-index: 3;
      color: #1b1c1e;
      color: #fbfbfb;
      position: relative;
      @include mixins.small-device {
        font-size: 1.5rem;
      }
    }
  }
}

.subContentSection {
  width: 100%;
  height: 0px;
  min-height: 180px;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "SharpGroteskSemiBold25";
  margin-top: 30px;

  @include mixins.small-device {
    font-size: 1rem;
  }
  &__upperText {
    color: #4d5360;
  }
  &__lowerText {
    color: #a99ef0;
  }
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &__emailWrapper {
    width: 100%;
    height: auto;
    // border: 1px solid goldenrod;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    // padding: 20px 0px;
    margin-top: 50px;

    .emailLabelRow {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // border: 1px solid red;
      padding: 10px 0px;
      p {
        font-family: "SharpGroteskMedium25";
        font-size: 0.8rem;
        color: #a9acb3;
      }
    }

    .emialIdLinkRow {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        position: relative;
        font-family: "SharpGroteskSemiBold25";
        font-size: 2rem;
        color: #4d5360;
        @include mixins.small-device {
          font-size: 1rem;
        }
        span {
          color: #4d5360;
        }

        &:hover span {
          color: #a99ef0;
        }
      }
      .emailLinkIcon {
        font-size: 1.5rem;
        margin-left: 5px;
        color: #a99ef0;
      }
    }
  }

  .content__emailWrapper a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 5%;
    height: 0.05rem;
    background-color: #888c94;
    transition: width 0.3s ease-in-out;
    z-index: 999;
  }

  .content__emailWrapper:hover a::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
  }

  &__socialLinksWrapper {
    display: flex;
    width: 100%;
    height: auto;
    // border: 1px solid lightgreen;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;

    .socialLabelDiv {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // border: 1px solid red;
      padding: 10px 0px;
      p {
        font-family: "SharpGroteskMedium25";
        font-size: 0.8rem;
        color: #a9acb3;
      }
    }
    .socialLinksGrid {
      width: auto;
      height: auto;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;

      @include mixins.small-device {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 10px;
      }
    }
  }
}

.socialLinkContainer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  margin-right: 20px;
  // border: 1px solid red;

  @include mixins.small-device {
    margin: 0;
  }

  .socialLinkText {
    position: relative;
    font-family: "SharpGroteskMedium25";
    font-size: 1rem;
    color: #4d5360;
  }
  .socialLinkIcon {
    font-size: 0.8rem;
    color: #a99ef0 !important;
    margin-left: 3px;
  }

  .socialLinkText::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 25%;
    height: 1px;
    background-color: #888c94;
    transition: width 0.3s ease-in-out;
    z-index: 999;
  }
}
.socialLinkContainer:hover .socialLinkText::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
